# Enunciado del problema
Una reconocida empresa dedicada a producir películas para distribuir vía streaming requiere de un mecanismo para determinar si la producción de una película generará los ingresos necesarios para garantizar un excelente margen operacional. La solución debe establecer que tan buena podrá ser una película en base a sus características.

## Datos
La información relacionada a las películas se divide en 7 diferentes archivos CSV obtenidos del sitio web kaggle. La información se encuentra semiestructurada, ya que varios CSVs
contienen información en formato Json.

Url: https://www.kaggle.com/rounakbanik/the-movies-dataset

## Objetivo de Negocio
- Producir películas que garanticen altos ingresos.
- Entregar contenido que permita retener clientes y atraer nuevos.

# 1. Exploración de los datos

In [1]:
import pandas as pd

encoding = 'iso-8859-1'    
delimiter = ','

creditsFile = '../the-movies-dataset/credits.csv'
keywordsFile = '../the-movies-dataset/keywords.csv'
linksFile = '../the-movies-dataset/links.csv'
linkssmallFile = '../the-movies-dataset/links_small.csv'
moviesFile = '../the-movies-dataset/movies_metadata.csv'
ratingFile = '../the-movies-dataset/ratings.csv'
ratingsmallFile = '../the-movies-dataset/ratings_small.csv'

credits = pd.read_csv(creditsFile, delimiter = delimiter, encoding = encoding)
keywords = pd.read_csv(keywordsFile, delimiter = delimiter, encoding = encoding)
links = pd.read_csv(linksFile, delimiter = delimiter, encoding = encoding)
links_small = pd.read_csv(linkssmallFile, delimiter = delimiter, encoding = encoding)
movies = pd.read_csv(moviesFile, delimiter = delimiter, encoding = encoding)
rating = pd.read_csv(ratingFile, delimiter = delimiter, encoding = encoding)
rating_small = pd.read_csv(ratingsmallFile, delimiter = delimiter, encoding = encoding)

C:\Users\Alexander\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Credits

In [2]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

## Keywords

In [3]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

## Links and Links_small
Los archivos links.csv y links_small.csv contienen información relacionada a los imdbid. Está información es útil para enriquecer la fuente original. Sin embargo, por ahora estos archivos no se tendrán en cuenta en el desarrollo del modelo.

In [4]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

## Rating and Rating_small
Los archivos rating.csv y rating_small.csv contienen información sobre el rating de las películas, los usuarios y la fecha en la que se dio la calificación.

In [6]:
rating.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [7]:
rating_small.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

### Preparación archivo rating
Para el proyecto utilizaremos la tabla más grande de ratings mediante la obtención del promedio y el total de personas que aportaron a dicha medición. Esta información será incorporatada al archivo de metadatos de peliculas para complementar la información.

Inicialmente se analizó la información para establecer si existian valores fuera de rango, encontramos que los valores estaban dentro de la escala de 0 a 5.

In [8]:
import seaborn as sb

sb.boxplot(rating['rating'], orient = 'v')

Se procede a generar la tabla con los promedios y número de personas que calificaron la película.

In [9]:
rating_mean = rating.groupby(['movieId'])[['rating']].mean()
rating_total = rating.groupby(['movieId'])[['rating']].count().rename(columns={'rating':'Total_Rating'})

reting = pd.concat([rating_mean, rating_total], axis=1, join='inner')
reting.head()

           rating  Total_Rating
movieId
1        3.888157         66008
2        3.236953         26060
3        3.175550         15497
4        2.875713          2981
5        3.079565         15258

## Movies_metadata
El archivo movies_metadata contiene información general de las películas. Sin embargo, se encontraron algunos campos en formato json.

In [10]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### Ajuste campos con formato json
Para cada atributo en formato json se tomó la información relevante, obteniendo así el nuevo dataset sin atributos json en donde es relevante.

In [11]:
import json

def getData(j, l):
    try:
        return json.loads(j.replace('\'', '\"').replace('None', '0'))[l]  
    except:
        return ''

def getData2(j, l):
    try:
        return json.loads(j.replace('\'', '\"').replace('None', '0'))[0][l]  
    except:
        return ''

movies['belongs_to_collection'] = movies['belongs_to_collection'].apply(lambda x: getData(x, "name"))
movies['genres'] = movies['genres'].apply(lambda x: getData2(x, "name"))
movies['production_companies'] = movies['production_companies'].apply(lambda x: getData2(x, "name"))
movies['production_countries'] = movies['production_countries'].apply(lambda x: getData2(x, "name"))

movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,Animation,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,,65000000,Adventure,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,Romance,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,,16000000,Comedy,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,Comedy,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### Agregando los campos de rating

In [12]:
movies.rename(index=str, columns={"id": "movieId"}, inplace = True)
movies.set_index("movieId")

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
movieId,,,,,,,,,,,,,,,,,,,,,
862,False,Toy Story Collection,30000000,Animation,http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
8844,False,,65000000,Adventure,NaN,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
15602,False,Grumpy Old Men Collection,0,Romance,NaN,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
31357,False,,16000000,Comedy,NaN,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
11862,False,Father of the Bride Collection,0,Comedy,NaN,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
949,False,,60000000,Action,NaN,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.9249,...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
11860,False,,58000000,Comedy,NaN,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,6.67728,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'i...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
45325,False,,0,Action,NaN,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.56116,...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
9091,False,,35000000,Action,NaN,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,5.23158,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
710,False,James Bond Collection,58000000,Adventure,http://www.mgm.com/view/movie/757/Goldeneye/,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,14.686,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
9087,False,,62000000,Comedy,NaN,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",6.31844,...,1995-11-17,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
12110,False,,0,Comedy,NaN,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.43033,...,1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
21032,False,Balto Collection,0,Family,NaN,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,12.1407,...,1995-12-22,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0
10858,False,,44000000,History,NaN,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,5.092,...,1995-12-22,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0
1408,False,,98000000,Action,NaN,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.28448,...,1995-12-22,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0
524,False,,52000000,Drama,NaN,tt0112641,en,Casino,The life of the gambling paradise â Las Vega...,10.1374,...,1995-11-22,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0
4584,False,,16500000,Drama,NaN,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",10.6732,...,1995-12-13,135000000.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0
5,False,,4000000,Crime,NaN,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,9.02659,...,1995-12-09,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0
9273,False,Ace Ventura Collection,30000000,Crime,NaN,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",8.20545,...,1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0
11517,False,,60000000,Action,NaN,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,7.33791,...,1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0
8012,False,Chili Palmer Collection,30250000,Comedy,NaN,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,12.6696,...,1995-10-20,115101622.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but itâs nothing like show...",Get Shorty,False,6.4,305.0
1710,False,,0,Drama,NaN,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,10.7018,...,1995-10-27,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
9691,False,,50000000,Action,NaN,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,11.0659,...,1995-10-06,30303072.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0
12665,False,,0,Drama,NaN,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,12.1331,...,1995-10-27,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
451,False,,3600000,Drama,http://www.mgm.com/title_title.do?title_star=L...,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",10.332,...,1995-10-27,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0
16420,False,,0,Drama,NaN,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,1.8459,...,1995-12-15,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
9263,False,,12000000,Comedy,NaN,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,8.68132,...,1995-10-20,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0
17015,False,,0,Drama,NaN,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,2.22843,...,1995-09-27,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
902,False,,18000000,Fantasy,NaN,tt0112682,fr,La CitÃ© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,9.82242,...,1995-05-16,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': 'å¹¿å·è¯ / å»£å...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0
37557,False,,0,Drama,NaN,tt0115012,zh,æåæï¼æå°å¤å©æ¡¥,A provincial boy related to a Shanghai crime f...,1.10091,...,1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': 'æ®éè¯'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45527,False,,0,Action,NaN,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,1.270832,...,2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0
455661,False,,0,Family,NaN,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,20.82178,...,2017-06-01,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0
327237,False,,0,Drama,NaN,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",0.590087,...,2015-04-02,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0
84710,False,,0,Drama,NaN,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,0.143223,...,1944-06-01,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0
39562,False,,0,Drama,NaN,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,...,2007-01-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0
14008,False,,0,Comedy,NaN,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,4.392389,...,2002-03-07,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0
44330,False,,0,,NaN,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,0.21926,...,1905-01-01,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0
49279,False,,0,Comedy,NaN,tt0000359,fr,L'Homme Ã la tÃªte de caoutchouc,A chemist in his laboratory places upon a tabl...,1.618458,...,1901-01-01,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0
44333,False,,0,Fantasy,NaN,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,0.208349,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
49277,False,,0,Fantasy,NaN,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,0.148131,...,1906-01-01,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'i...",Released,NaN,The Hilarious Posters,False,4.5,2.0
49271,False,,0,Fantasy,NaN,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,0.725084,...,1909-01-01,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0
44324,False,,0,,NaN,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,0.213973,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
122036,False,,0,,NaN,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,0.071782,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
14885,False,,0,Animation,NaN,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,...,2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0
49280,False,,0,Fantasy,NaN,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,1.109068,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
106807,False,,0,Comedy,NaN,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,0.225432,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0
276895,False,,0,Documentary,NaN,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",0.011025,...,1981-01-01,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0
404604,False,,0,Crime,NaN,tt5690142,hi,Maa,The bliss of a biology teacherâs family life...,1.559596,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'à¤¹à¤¿à¤¨à¥à¤¦à...",Released,NaN,Mom,False,6.6,14.0
420346,False,,0,Comedy,NaN,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,0.139936,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
67179,False,,0,,NaN,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,0.225051,...,1972-01-01,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0
84419,False,,0,Horror,NaN,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,0.222814,...,1946-03-29,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
390959,False,,0,Mystery,NaN,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",0.076061,...,2000-10-22,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
289923,False,,0,Horror,NaN,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,0.38645,...,2000-10-03,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
222848,False,,0,Science Fiction,NaN,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,0.661558,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
30840,False,,0,Drama,NaN,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
439050,False,,0,Drama,http://www.imdb.com/title/tt6209470/,tt6209470,fa,Ø±Ú¯ Ø®ÙØ§Ø¨,Rising and falling between a man and woman.,0.072051,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'ÙØ§Ø±Ø³Û'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
111109,False,,0,Drama,NaN,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
67758,False,,0,Action,NaN,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
227506,False,,0,,NaN,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
461257,False,,0,,NaN,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0